.logo {
  height: 40px;
  margin: 12px;
  .image {
    margin: 0 8px;
  }
  .title {
    color: white;
    font-size: 16px;
    vertical-align: middle;
    margin-left: 15px;
  }
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  left: 0px;
  background: #fff;
}
